html {
  background-color: black !important;
}
.main-image img {
  max-height: 35rem;
}
.image-navigation {
  min-width: 120px;
}

.wall-city-logo-vertical img {
  max-height: 35rem;
}

.wall-city-logo-vertical {
  display: none;
}

.wall-city-logo-horizontal img {
  max-width: 25rem;
  width: 100%;
}

@media (min-width: 769px) {
  .wall-city-logo-vertical {
    display: inherit;
  }
  .wall-city-logo-horizontal {
    display: none;
  }
}

.columns-is-fullhd {
  display: block;
}

.image-gallery-bar {
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*background-color: #dcdcdc17;*/
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.image-gallery-bar .column {
  flex: 1 1 auto;
}
@media screen and (min-width: 1408px) {
  .columns-is-fullhd {
    display: flex;
  }

  .bottom-section > hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .image-gallery-bar {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1578px) {
  .column.is-two-thirds-fullhd {
    width: fit-content !important;
  }
}

.column.subsection {
  min-width: 200px;
}

.clickable {
  cursor: pointer;
}

.awn-toast {
  font-size: 1.25rem;
  width: 350px;
}

.w-100 {
  width: 100% !important;
}
