html {
  background-color: black !important;
}
.main-image img {
  max-height: 35rem;
}
.image-navigation {
  min-width: 120px;
}

.wall-city-logo-horizontal-wide img {
  max-height: 15rem;
}
.wall-city-logo-horizontal-wide {
  display: none;
}
.wall-city-logo-horizontal-stacked img {
  max-height: 15rem;
}

.image-section {
  margin-left: -32px;
  margin-right: -32px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

@media (min-width: 769px) {
  .image-section {
    margin-left: 0px;
    margin-right: 0px;
    display: block !important;
  }
  .wall-city-logo-horizontal-wide {
    display: inherit;
  }
  .wall-city-logo-horizontal-stacked {
    display: none;
  }
}

.columns-is-fullhd {
  display: block;
}

.image-gallery-bar {
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*background-color: #dcdcdc17;*/
}

.image-gallery-bar .column {
  flex: 1 1 auto;
}
@media screen and (min-width: 1408px) {
  .columns-is-fullhd {
    display: flex;
    flex-direction: row-reverse;
  }

  .bottom-section > hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .image-gallery-bar {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1578px) {
  .column.is-two-thirds-fullhd {
    width: fit-content !important;
  }
}

.column.subsection {
  min-width: 200px;
}

.clickable {
  cursor: pointer;
}

.awn-toast {
  font-size: 1.25rem;
  width: 350px;
}

.w-100 {
  width: 100% !important;
}
